* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  color: rgb(78, 77, 82);
}

body {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.52),
      rgba(61, 61, 61, 0.73),
      rgba(0, 0, 0, 0.73)
    ),
    url('./Assets/geometric-background.jpg');
  background-size: cover;
  background-position: center center;
  padding: 1.7rem 3rem;
  min-height: 100vh;
}
